<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @text.to %>
</p>

<p>
  <strong>From:</strong>
  <%= @text.from %>
</p>

<p>
  <strong>Text:</strong>
  <%= @text.text %>
</p>

<p>
  <strong>Token:</strong>
  <%= @text.token %>
</p>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
